/*========== COLORS ==========*/
.black-text{
    color:rgb(0,0,0) !important;
}
.black{
    background-color: rgb(0,0,0) !important;
}
.black-text-hover:hover{
    color:rgb(0,0,0) !important;
}
.black-hover:hover{
    background-color: rgb(0,0,0) !important;
}
.grey-text{
    color:rgb(66,66,66) !important;
}
.grey{
    background-color: rgb(66,66,66) !important;
}
.grey-text-hover:hover{
    color:rgb(66,66,66) !important;
}
.grey-hover:hover{
    background-color: rgb(66,66,66) !important;
}
.lightgrey-text{
    color:rgb(202,202,202) !important;
}
.lightgrey{
    background-color: rgb(202,202,202) !important;
}
.lightgrey-text-hover:hover{
    color:rgb(202,202,202) !important;
}
.lightgrey-hover:hover{
    background-color: rgb(202,202,202) !important;
}
.white-text{
    color:white !important;
}
.white{
    background-color: white !important;
}
.white-text-hover:hover{
    color:white !important;
}
.white-hover:hover{
    background-color: white !important;
}
.red-text{
    color:rgb(196, 22, 46) !important;
}
.red {
    background-color:rgb(196, 22, 46) !important;
}
.red-text-hover:hover{
    color:rgb(196, 22, 46) !important;
}
.red-hover:hover{
    background-color:rgb(196, 22, 46) !important;
}
.blue-text{
    color:rgb(22, 99, 149) !important;
}
.blue {
    background-color:rgb(22, 99, 149) !important;
}
.blue-text-hover:hover{
    color:rgb(22, 99, 149) !important;
}
.blue-hover:hover{
    background-color:rgb(22, 99, 149) !important;
}
.mauve-text{
    color:rgb(149, 22, 99) !important;
}
.mauve {
    background-color:rgb(149, 22, 99) !important;
}
.mauve-text-hover:hover{
    color:rgb(149, 22, 99) !important;
}
.mauve-hover:hover{
    background-color:rgb(149, 22, 99) !important;
}

/*========== TEXT TYPES ==========*/
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize !important;
}
.lowercase {
    text-transform: lowercase;
}
.underline {
    text-decoration: underline;
}

/*========== ALIGNMENTS ==========*/
.alignleft {
    text-align: left;
}
.alignright {
    text-align: right;
}
.aligncenter {
    text-align: center;
}
/*========== CENTER WITH MARGIN AUTO ==========*/
.marginLateralAuto {
    margin-left: auto;
    margin-right: auto;
}

/*========== FLOATS ==========*/
.floatleft {
    float: left;
}
.floatright {
    float: right;
}
.floatnone {
    float: none;
}

/*========== DISPLAYS ==========*/
.display-inline-block {
    display: inline-block;
}
.display-inline {
    display: inline;
}
.display-block {
    display: block;
}

/*========== VISIBILITY TOGGLE ==========*/
.visibility-toggle .visible-hover {
    display: none;
}
.visibility-toggle .hidden-hover {
    display: block;
}
.visibility-toggle:hover .visible-hover {
    display: block;
}
.visibility-toggle:hover .hidden-hover{
    display: none;
}

/*========== VERTICAL ALIGN ==========*/
.valign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}
.valign .valign__item {
    display: block;
}

/*========== NO WRAP ==========*/
.nowrap {
    white-space: nowrap;
}

/*========== SAME HEIGHT CHILDREN ==========*/
.same-height-children {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
@media(max-width:767px){
    .same-height-children{
        display: block;
    }
}

/*========== BOX SHADOWS ==========*/
.no-box-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.box-shadow{
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.box-shadow--small{
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.box-shadow--large{
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.box-shadow--hoverable{
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-box-shadow 0.3s ease-out 0s;
    -moz-transition: -moz-box-shadow 0.3s ease-out 0s;
    -ms-transition: box-shadow 0.3s ease-out 0s;
    -o-transition: box-shadow 0.3s ease-out 0s;
    transition: box-shadow 0.3s ease-out 0s;
}
.box-shadow--hoverable:hover{
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.box-shadow--hoverable--small{
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-box-shadow 0.3s ease-out 0s;
    -moz-transition: -moz-box-shadow 0.3s ease-out 0s;
    -ms-transition: box-shadow 0.3s ease-out 0s;
    -o-transition: box-shadow 0.3s ease-out 0s;
    transition: box-shadow 0.3s ease-out 0s;
}
.box-shadow--hoverable--small:hover{
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.box-shadow--hoverable--large{
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-box-shadow 0.3s ease-out 0s;
    -moz-transition: -moz-box-shadow 0.3s ease-out 0s;
    -ms-transition: box-shadow 0.3s ease-out 0s;
    -o-transition: box-shadow 0.3s ease-out 0s;
    transition: box-shadow 0.3s ease-out 0s;
}
.box-shadow--hoverable--large:hover{
    -webkit-box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

/*========== BORDERS ==========*/
.bordered{
    border:1px solid rgb(66,66,66);
}
.bordered--two{
    border-width: 2px;
}
.bordered--three{
    border-width: 3px;
}
.bordered--four{
    border-width: 4px;
}
.bordered--five{
    border-width: 5px;
}
.bordered--white{
    border-color: rgb(255, 255, 255);
}
.bordered--blue{
    border-color: rgb(22, 99, 149);
}
.bordered--red{
    border-color: rgb(196, 22, 46);
}
.bordered--mauve{
    border-color: rgb(149, 22, 99);
}
.bordered--rounded{
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
.bordered--dashed{
    border-style: dashed;
}
.bordered--dotted{
    border-style: dotted;
}
.bordered--double{
    border-style: double;
}

/*========== HR ==========*/
.hr{
    border-top:none !important;
    border-left:none !important;
    border-right:none !important;
    border-bottom:1px solid rgba(66,66,66,0.2) !important;
}
.hr--two{
    border-bottom-width:2px !important;
}
.hr--three {
    border-bottom-width: 3px !important;
}
.hr--four{
    border-bottom-width:4px !important;
}
.hr--five{
    border-bottom-width:5px !important;
}
.hr--dashed{
    border-bottom-style: dashed !important;
}
.hr--dotted{
    border-bottom-style: dotted !important;
}
.hr--double{
    border-bottom-style: double !important;
}

/*========== TOOLTIPS ==========*/
.tooltip{
    position: relative;
    cursor: pointer;
    z-index: 3;
    padding:10px;
}
.tooltip::before{
    content: attr(data-sys-tooltip);
    position: absolute;
    z-index: 2;
    top: auto;
    bottom: 100%;
    left: 50%;
    right:auto;
    width: 200px;
    margin: 0 0 10px -100px;
    padding:10px;
    background-color: rgb(66,66,66);
    color:rgb(255,255,255);
    text-align: center;
    -webkit-transform: translate(0, -50px);
    -moz-transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    -o-transform: translate(0, -50px);
    transform: translate(0, -50px);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.tooltip::after{
    content: '';
    position: absolute;
    z-index: 2;
    width:30px;
    height: 15px;
    border-top:15px solid rgb(66,66,66);
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    border-bottom:none;
    top: auto;
    bottom: 100%;
    left: 50%;
    right:auto;
    margin: 0 0 -5px -15px;
    -webkit-transform: translate(0, -50px);
    -moz-transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    -o-transform: translate(0, -50px);
    transform: translate(0, -50px);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.tooltip--bottom::before{
    top: 100%;
    bottom: auto;
    left: 50%;
    right:auto;
    margin: 10px 0 0 -100px;
    -webkit-transform: translate(0, 50px);
    -moz-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);
}
.tooltip--bottom::after{
    width:30px;
    height: 15px;
    border-bottom:15px solid rgb(66,66,66);
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    border-top:none;
    top: 100%;
    bottom: auto;
    left: 50%;
    right:auto;
    margin: -5px 0 0 -15px;
    -webkit-transform: translate(0, 50px);
    -moz-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);

}

.tooltip:hover::before,
.tooltip:hover::after {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity:1;
    visibility: visible;
}

/*========== ANIMATION EFFECT CLASSES ==========*/
.animate{
    opacity:0 !important;
    visibility: hidden !important;
    -webkit-transition: visibility 0.3s ease-out 0s, opacity 0.3s ease-out 0s, -webkit-transform 0.3s ease-out 0s !important;
    -moz-transition: visibility 0.3s ease-out 0s, opacity 0.3s ease-out 0s, -moz-transform 0.3s ease-out 0s !important;
    -ms-transition: visibility 0.3s ease-out 0s, opacity 0.3s ease-out 0s, -ms-transform 0.3s ease-out 0s !important;
    -o-transition: visibility 0.3s ease-out 0s, opacity 0.3s ease-out 0s, -o-transform 0.3s ease-out 0s !important;
    transition: visibility 0.3s ease-out 0s, opacity 0.3s ease-out 0s, transform 0.3s ease-out 0s !important;
}
.animate--transition-short{
    -webkit-transition: visibility 0.5s ease-out 0s, opacity 0.5s ease-out 0s, -webkit-transform 0.5s ease-out 0s !important;
    -moz-transition: visibility 0.5s ease-out 0s, opacity 0.5s ease-out 0s, -moz-transform 0.5s ease-out 0s !important;
    -ms-transition: visibility 0.5s ease-out 0s, opacity 0.5s ease-out 0s, -ms-transform 0.5s ease-out 0s !important;
    -o-transition: visibility 0.5s ease-out 0s, opacity 0.5s ease-out 0s, -o-transform 0.5s ease-out 0s !important;
    transition: visibility 0.5s ease-out 0s, opacity 0.5s ease-out 0s, transform 0.5s ease-out 0s !important;
}
.animate--transition-medium{
    -webkit-transition: visibility 0.7s ease-out 0s, opacity 0.7s ease-out 0s, -webkit-transform 0.7s ease-out 0s !important;
    -moz-transition: visibility 0.7s ease-out 0s, opacity 0.7s ease-out 0s, -moz-transform 0.7s ease-out 0s !important;
    -ms-transition: visibility 0.7s ease-out 0s, opacity 0.7s ease-out 0s, -ms-transform 0.7s ease-out 0s !important;
    -o-transition: visibility 0.7s ease-out 0s, opacity 0.7s ease-out 0s, -o-transform 0.7s ease-out 0s !important;
    transition: visibility 0.7s ease-out 0s, opacity 0.7s ease-out 0s, transform 0.7s ease-out 0s !important;
}
.animate--transition-long{
    -webkit-transition: visibility 1s ease-out 0s, opacity 1s ease-out 0s, -webkit-transform 1s ease-out 0s !important;
    -moz-transition: visibility 1s ease-out 0s, opacity 1s ease-out 0s, -moz-transform 1s ease-out 0s !important;
    -ms-transition: visibility 1s ease-out 0s, opacity 1s ease-out 0s, -ms-transform 1s ease-out 0s !important;
    -o-transition: visibility 1s ease-out 0s, opacity 1s ease-out 0s, -o-transform 1s ease-out 0s !important;
    transition: visibility 1s ease-out 0s, opacity 1s ease-out 0s, transform 1s ease-out 0s !important;
}
.animate--transition-custom{}

.animate--upwards{
    -webkit-transform: translate(0, 100px) !important;
    -moz-transform: translate(0, 100px) !important;
    -ms-transform: translate(0, 100px) !important;
    -o-transform: translate(0, 100px) !important;
    transform: translate(0, 100px) !important;
}
.animate--downwards{
    -webkit-transform: translate(0, -100px) !important;
    -moz-transform: translate(0, -100px) !important;
    -ms-transform: translate(0, -100px) !important;
    -o-transform: translate(0, -100px) !important;
    transform: translate(0, -100px) !important;
}
.animate--leftwards{
    -webkit-transform: translate(100px, 0) !important;
    -moz-transform: translate(100px, 0) !important;
    -ms-transform: translate(100px, 0) !important;
    -o-transform: translate(100px, 0) !important;
    transform: translate(100px, 0) !important;
}
.animate--rightwards{
    -webkit-transform: translate(-100px, 0) !important;
    -moz-transform: translate(-100px, 0) !important;
    -ms-transform: translate(-100px, 0) !important;
    -o-transform: translate(-100px, 0) !important;
    transform: translate(-100px, 0) !important;
}

.animate--upwards.animate--leftwards{
    -webkit-transform: translate(100px, 100px) !important;
    -moz-transform: translate(100px, 100px) !important;
    -ms-transform: translate(100px, 100px) !important;
    -o-transform: translate(100px, 100px) !important;
    transform: translate(100px, 100px) !important;
}
.animate--upwards.animate--rightwards{
    -webkit-transform: translate(-100px, 100px) !important;
    -moz-transform: translate(-100px, 100px) !important;
    -ms-transform: translate(-100px, 100px) !important;
    -o-transform: translate(-100px, 100px) !important;
    transform: translate(-100px, 100px) !important;
}
.animate--downwards.animate--leftwards{
    -webkit-transform: translate(100px, -100px) !important;
    -moz-transform: translate(100px, -100px) !important;
    -ms-transform: translate(100px, -100px) !important;
    -o-transform: translate(100px, -100px) !important;
    transform: translate(100px, -100px) !important;
}
.animate--downwards.animate--rightwards{
    -webkit-transform: translate(-100px, -100px) !important;
    -moz-transform: translate(-100px, -100px) !important;
    -ms-transform: translate(-100px, -100px) !important;
    -o-transform: translate(-100px, -100px) !important;
    transform: translate(-100px, -100px) !important;
}

.animate.animated{
    opacity:1 !important;
    visibility: visible !important;
    -webkit-transform: translate(0, 0) !important;
    -moz-transform: translate(0, 0) !important;
    -ms-transform: translate(0, 0) !important;
    -o-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
}

/*========= ANIMATION DETECTION CLASSES ============*/
.animate--top-in{}
.animate--bottom-in{}
.animate--middle-in{}
.animate--top-quarter-in{}
.animate--bottom-quarter-in{}
.animate--top-third-in{}
.animate--bottom-third-in{}



body.no-scroll {
    overflow: hidden;
    height: 100%;
}

.preload-veil{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: white;
}
.preload-veil__content{
    width:100%;
    height: 100%;
}
.preload-veil__content > *{
    width:100%;
}

.pointer{
    cursor: pointer !important;
}